* {
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    margin: 0px;
    padding: 16px;
}

.recipe,
.directions {
    max-width: 600px;
    line-height: 1.5;
    margin: 0 auto;
    padding: 28px;
    border: 4px solid powderblue;
}
h1, h2, h3, h4 {
    text-align: center;
}

ul, ol, p {
    text-align: left;
    padding: 8px;
    margin: 0;
}

button,
img {
    display: block;
    margin: 16px auto;
}
.home {
    text-align: center;
    border: 2px solid black;
}
img {
    display: block;
    margin: 16px auto;
}